*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* background-color: rgba(255, 255, 255, 1);  */
}
.font-inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
.top-nav{
       padding: 16px 120px;
       max-width: 1600px;
        margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.logo{
    align-items: center;
    display: flex;
}
.btn{
    background-color:#30B868;
    color: #fff;
    padding: 11px 16px;
    border: none;
    border-radius:4px;
    cursor: pointer;
}

  .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap:30px;   
}
nav .menu a {
    text-decoration: none;
    color: black;
    font-style: medium;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}
.hero-section{
    background-image:url(../images/hero-bg.png);
    background-size:cover;
    height:650px;
    background-repeat: no-repeat;
}
.parant-div{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap:32px;
    padding: 110px 320px;
}
.early-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #30B868;
    border-radius:50px;
    padding: 11px 18px;
    cursor: pointer;
}

.btn-one{
    background-color:#30B868;
    color: #fff;
    padding: 11px  15px;
    border: none;
    border-radius:4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

}
.bttnn{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    padding: 11px 16px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    gap:14px
}
.btn-grp{
    display: flex;
     gap:12px;
}
.hover-effect:hover{
     background-color: darkgrey;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(48 184 104 0.3);
}
.note{
    text-align: center;

}
.note h1{
    font-size: 75px;
}
.content{
    color: #ffff;
    font-size: 18px;
    font-style:regular;
    line-height: 26px;
}
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:50px;
    gap:32px;
    margin: 0 auto;
}
 .section-heading h2{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    
}
.section-heading p{
    font-style:normal;
    font-size: 15px;
    text-align: center;
    color:gray;
}
.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:35px;

}
.box-heading{
    display: flex;
    gap: 16px;
    text-align: center;   
}
.box-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.box-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.box-card p{
    font-size: 11px;
    color: #666666;
    line-height: 20px;
}
.icon-circle{
    width: 50px;
    height: 50px;
    background-color:#F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.knowledge-container{
    max-width: 1600px;
    height: 520px;
    margin: 120px 120px 120px 120px;
}
.sub-container{
    display: flex;
    gap:42px;
    
}
.knowledge-img{
    width: 540px;
    height: 500px;
    border-radius: 8px;
    padding-left: 60px;
    padding-right:30px ;
}
.knowledge-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:14px;
}
.knowledge-content h1{
    font-size: 56px;
    font-weight: bold;
    color: #001931;
}
.knowledge-content h5{
    font-size: 16px;
    color: #30B868;
}
.knowledge-content p{
    font-size: 16px;
    color: #666666;
}
.brain-p{
    padding-bottom: 22px;
}
.access-container{
    background-color: #efeeeea5;
    max-width: 83%;
    height: 400px;
    margin:180px;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.access-container h1{
    font-size: 25px;
    font-weight: bold;
    color: #001931;
}
.access-container p{
    font-size: 13px;
    color: #666666;
    margin-top: 16px;
    
}
.cta-btn{
     margin-top: 24px; 
    background-color:#30B868;
    color: #fff;
    padding: 11px 20px;
    border: none;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-flex;
    gap:8px
}
.access-container:hover{
    transform:translateY(-1px)

}
footer{
    background-color: #001931;
    max-width: 1600px;
    height: 300px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction:column;
    text-align: center;
    color: #FFFFFF;
}
footer .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 60px 130px;
    align-items: center;
    gap: 100px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 30px;
}
.footer-links div h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer-content hr{
    width: 83%;
    border: 0.5px solid #627382;
}
.footer-content p{
    font-size: 16px;
    color: #627382;
}


