*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* background-color: rgba(255, 255, 255, 1);  */
}
.font-inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
.top-nav{
       padding: 16px 120px;
       max-width: 1600px;
        margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.logo{
    align-items: center;
    display: flex;
}
.btn{
    background-color:#30B868;
    color: #fff;
    padding: 11px 16px;
    border: none;
    border-radius:4px;
    cursor: pointer;
}

  .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap:30px;   
}
nav .menu a {
    text-decoration: none;
    color: black;
    font-style: medium;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}
.hero-section{
    background-image:url(/images/hero-bg.png);
    background-size:cover;
    height:650px;
    background-repeat: no-repeat;
}
.parant-div{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap:32px;
    padding: 110px 320px;
}
.early-btn{
    color: #30B868;
    border-radius:50px;
    padding: 8px 12px 8px 34px;

}
.btn-one{
    background-color:#30B868;
    color: #fff;
    padding: 11px  16px;
    padding-right: 24px;
    border: none;
    border-radius:4px;
    cursor: pointer;

}
.bttnn{
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    padding: 11px 11px 11px 36px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.btn-grp{
    display: flex;
     gap:12px;
}
.note{
    text-align: center;

}
.note h1{
    font-size: 75px;
}
.content{
    color: #ffff;
    font-size: 18px;
    font-style:regular;
    line-height: 26px;
}
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    gap: 32px;
    margin: 0 auto;
}
.skill-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.section-heading h2{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.section-heading p{
    font-style:normal;
    font-size: 15px;
    text-align: center;
    color:gray;
}
.box-heading{
    display: flex;
    gap: 16px;
    text-align: center;
}
.box-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    box-shadow:0px,4px,16px rgba(0, 0, 0, 0, 1);
}
.box-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.box-card p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.icon-circle{
     width: 50px; 
     height: 50px; 
    background-color:#F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}
.icon-circle img{
    width:36;
    height: auto;
}


